//定义主题色
$base-color: #008376;
$base-color-light: #339c91;
$base-color-lighter: #e6f3f1;
$yellow-color: #E08601;
$red-color: #B90505;
$purple-color: #904669;
$blue-color: #0D62C7;
$blue-color-light: #87B3E6;
$blue-color-lighter: #EAF2FB;
